.classpath
.project
.settings
.externalToolBuilders
.idea
*.orig
.springBeans
*.iml
*.ipr
*.iws
*.ids
target
*.jar
*.lck
log
lib
*.swp
maven-eclipse.xml
version.txt
HREV*
*.log
*.log.zip
*.FDC
.pmd
.checkstyle
.timestamp.txt
catalog.xml
.metadata
nb-configuration.xml
.DS_STORE
*.if
*.crf
*.drf
vf.gf.dmn-events.txt
vf.gf.dmn-license.cfg
test-output

