<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test mail.ru">
    <test name="testMailRu">
        <classes>
            <class name="ru.mail.tests.EmailOperationsTests"/>
            <class name="ru.mail.tests.PageComponentsTests"/>
        </classes>
    </test>
</suite>