<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test mail.ru" configfailurepolicy="continue" parallel="tests" thread-count="4">
    <test name="testMailRu">
        <classes>
            <class name="test.mailru.TestEmailOperations"/>
            <class name="test.mailru.TestPageComponents"/>
        </classes>
    </test>
</suite>